/* Layout containers */
* {
    font-family: 'Fjalla One', sans-serif;
    box-sizing: border-box;
}

.profile-image {
    margin-top: 25px;
}

.nav {
    background-color: lightblue;
    padding-top: .10px;
    text-align: center;

}


.main-header {
    text-align: center;
    
}


li {
    list-style: none;
    padding-bottom: 15px;
}

.intro {
    margin-right: 5%;
    margin-left: 5%;
}

.main-section {
    margin-right: 5%;
    margin-left: 5%;
}

p {
    max-width: 100%;
    text-align: center;
}

h2,
h4 {
    text-align: center;
}

.main-portfolio-heading {
    margin-top: 100px;
}

.contact {
    margin-top: 100px;
}

.footer-name {
    float: left -50px;
}

.top-footer {
    float: right;
}

.portfolio-menu {
    max-width: 100%;
}

/* Media queries */

@media (min-width:769px) {
    .container {
        max-width: 1024px;
    }
    }
    