/* Layout containers */

.container {
    width: 70%;
    margin: auto;
}

.main-footer {
    text-align: center;
}


/* Media queries */

@media (min-width:769px) {
    .container {
        max-width: 1024px;
    }
    }
    